@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Colors
$Desaturated_Red: #ce9797;
$Soft_Red: #f96262;

$Dark_Grayish_Red: #413a3a;
$bg: linear-gradient(
  135deg,
  rgba(255, 245, 245, 1) 54%,
  rgba(255, 255, 255, 1) 100%
);
$btn-bg: linear-gradient(
  135deg,
  rgba(248, 191, 191, 1) 54%,
  rgba(238, 140, 140, 1) 100%
);

// Typograph
$font: "Josefin Sans", sans-serif;

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @content;
}
body {
  min-width: 375px;
  background-color: $bg;
  font-family: $font;
}

header {
  background: url("../images/logo.svg") no-repeat;
  background-size: 88px 20px;
  width: 80%;
  height: 25px;
  margin: 1rem;
}

.heroMobile {
  background: center/cover url("../images/hero-mobile.jpg") no-repeat;
  min-height: 16em;
}
article {
  text-transform: uppercase;
  text-align: center;
  padding: 3rem;
  letter-spacing: 0.5rem;

  h2 {
    font-size: 2.3rem;
    color: $Desaturated_Red;
    font-weight: 100;
  }
  h3 {
    font-size: 2.5rem;
    color: $Dark_Grayish_Red;
    margin-bottom: 1rem;
  }
}

h4 {
  text-transform: none;
  letter-spacing: 0;
  font-size: small;
  font-weight: 400;
  color: #ce9797;
}

#form,
.alert {
  @include center();
  flex-direction: column;
  position: relative;

  input {
    border-radius: 5rem;
    opacity: 0.7;
    border: $Desaturated_Red solid 1px;
    width: 105%;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    color: $Desaturated_Red;
  }
  button {
    position: relative;
    right: -6rem;
    bottom: 2.8rem;
    width: 60px;
    height: 45px;
    border: none;
    background: $btn-bg;
    border-radius: 5rem;
    box-shadow: rgba(158, 6, 6, 0.1) 0px 20px 25px -5px,
      rgba(240, 89, 89, 0.04) 0px 10px 10px -5px;
  }

  #text {
    right: 0.2rem;
    bottom: 2rem;
    position: relative;
  }
}

#form.invalid .alert::before {
  content: "";
  position: relative;
  left: 3rem;
  top: 2rem;
  width: 24px;
  height: 24px;
  // background-color: red;
  background: center/cover url("../images/icon-error.svg");
  z-index: 10;
}

@media (min-width: 1180px) {
  .heroMobile {
    display: none;
  }

  .box {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(20%, 1fr));
    grid-template-areas: "one two";
    background: bottom/cover url("../images/bg-pattern-desktop.svg") no-repeat;
    // overflow: hidden;
  }

  #left {
    // @include center();
    display: flex;
    padding: 5rem;
    margin: 0 5rem;
    grid-area: one;
    .container {
      @include center();
      align-items: flex-start;
    }

    header {
      position: relative;
      top: -2rem;
      background-size: 158px 35px;
      width: 100%;
      height: 40px;
      margin: 0;
    }

    article {
      text-align: left;
      padding: 5rem 0 2.5rem 0;

      h2 {
        font-size: 5.2rem;
      }
      h3 {
        font-size: 5.4rem;
      }
      h4 {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }

    #form {
      input {
        width: 26rem;
      }
      button {
        width: 5rem;
        left: 12rem;
        top: -2.8rem;
      }
      #text {
        position: relative;
        right: 6rem;
        bottom: 2rem;
      }
    }
  }

  #form.invalid .alert::before {
    content: "";
    position: relative;
    left: 8.5rem;
    top: 2rem;
    width: 24px;
    height: 24px;
    background: center/cover url("../images/icon-error.svg");
    z-index: 10;
  }

  #right {
    grid-area: two;

    .heroDesktop {
      background: right/contain url("../images/hero-desktop.jpg") no-repeat;
      min-height: 100%;
    }
  }
}